.Burger
{
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: scroll;
    font-weight: center;
    font-size: 1.2rem;
}
.p {
    text-align: center;
    text-shadow: black;
}

.plate {
    bottom: -65px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    width: 900px;
    overflow: scroll;
    height: 400px;
    display: flex;
    background: #37bbd4;
    border-radius: 50%;
    box-shadow: 0 10px 0 2px rgba(0,0,0,.15);
}

@media (min-width:300px) and (min-height: 400px)
{
    .Burger {
        width: 250px;
        height: 200px
    }
    .plate {
        width: 350px;
        height: 250px;
    }
}
@media (min-width: 500px) and (min-height: 401px)
{
    .Burger {
        width: 450px;
        height: 400px
    }
    .plate {
        width: 650px;
        height: 450px
    }
}
  
@media (min-width: 1000px) and (min-height: 700px)
{
    .Burger {
        width: 500px;
        height: 450px
    }
    .plate {
        width: 750px;
        height: 550px
    }
}